dash
dash-bootstrap-components
dash-renderer
dash_daq
sklearn
scipy
dask
pandas
plotly
numpy
requests
cufflinks
xlrd
XlsxWriter
xlwt
xmltodict
gunicorn
flask
json5
sklearn
matplotlib
flask_login
statsmodels
openpyxl
roc_utils
flask_recaptcha
python-dotenv
reportlab
pylinac